/* div { */
/*   border: 1px red solid; */
/* } */

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px blanchedalmond solid;
  background-color: beige;
  border-radius: 20px;
  padding: 20px;
}

.input-product {
  background-color: white;
  border: 1px burlywood solid;
  border-radius: 5px;
  padding: 4px;
}

.btn-order {
  background-color: green;
}
