/* div { */
/*   border: 1px red solid; */
/* } */

.card {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  width: 100%;
}

.input-product {
  background-color: white;
  border: 1px burlywood solid;
  border-radius: 5px;
  padding: 4px;
}
