/* div { */
/*   border: 1px solid red; */
/* } */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
}

.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}

.title-navbar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
}

.nav-menu {
  display: flex;
  gap: 1.5rem; /* Flexible spacing between links */
  list-style: none;
  justify-content: center;
  align-items: center;
}

.btn-login {
  background-color: #000000;
}

.btn-logout {
  background-color: orangered;
}
